html, body {
  height: 100%;
  overflow: auto;
}

form {
  display: inherit;
}

body.dark, body.dark .tag.is-dark {
  background-color: #01161E;
  color: #FFFFFF;
}

.tag.is-light, .tag.is-dark {
  cursor: pointer;
}

body.dark .tag.is-dark {
  font-weight: bold;
}

body.light .tag.is-light {
  font-weight: bold;
}

body.dark .card, body.dark .footer, body.dark .footer strong, body.dark .menu {
  background-color: #12355B;
  color: #FFFFFF;
}

body.dark .input,
body.dark input::placeholder,
body.dark .doh-tags .tags .tag:first-child,
body.dark .filter-tags .tags .tag:first-child,
body.dark .complete-check .tag:first-child {
  background-color: #12355B;
  border: none;
  color: #DCDCDC;
}

body.dark .doh-tags .tags .tag:last-child,
body.dark .filter-tags .tags .tag:last-child,
body.dark .complete-check .tag:last-child {
  background-color: #194A7F;
}

body.light .filter-tags .tags .tag.number-tag,
body.light .filter-tags .tags .tag.number-tag input,
body.light .filter-tags .tags .tag.number-tag input::placeholder {
  background-color: #F5F5F5;
}

body.dark .filter-tags .tags .tag.number-tag,
body.dark .filter-tags .tags .tag.number-tag input,
body.dark .filter-tags .tags .tag.number-tag input::placeholder {
  background-color: #194A7F;
  color: #FFFFFF;
}

.filter-tags .tags .tag.number-tag input {
  text-align: center;
}

.filter-tags .tags .tag.number-tag input::placeholder {
  opacity: 0.6;
}

.mode-setting {
  position: relative;
  top: 5px;
}

.mode-setting.is-top {
  top: 20px;
}

.delete.clear-all {
  position: relative;
  top: 12px;
}

.container.search {
  margin-bottom: 20px;
}

.container.items {
  padding-bottom: 55px;
}

.input.search {
  width: 100%;
}

.menu {
  position: absolute;
  background: #FFFFFF;
  box-sizing: border-box;
  z-index: 999;
  width: 100%;
  max-height: 75vh;
  overflow-y: scroll;
  padding-left: 10px;
}

.menu:empty {
  display: none;
}

.menu .item {
  cursor: pointer;
  padding: 2px;
}

.menu .item.item-highlighted {
  font-weight: bold;
}

.filter-tags, .doh-tags {
  justify-content: center !important;
}

.filter-tags .number-tag {
  position: relative;
  overflow: hidden;
  width: 75px;
}

.filter-tags input[type=number] {
  border: none;
  padding: 0.25em 0.75em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.selected, .suggestions {
  display: inline-block;
}

.selected .card, .suggestions .card {
  margin: 10px;
}

.selected .card .card-content, .suggestions .card .card-content {
  padding: 10px;
}

.selected .delete, .suggestions .delete {
  top: 3px;
}

.suggestions .card img {
  position: relative;
  top: 2px;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  padding: 0.8em;
  box-sizing: border-box;
  width: 100vw;
}

.tag.is-tiny {
  font-size: 0.5em;
}

.suggestions .tag.is-tiny {
  position: relative;
  top: -5px;
  left: -5px;
}

.recipe-filter, .settings-icon {
  cursor: pointer;
  position: absolute;
  user-select: none;
}

.recipe-filter {
  right: 5px;
  top: -70px;
}

.settings-icon {
  right: 110px;
  top: -140px;
}

@media only screen and (max-width: 768px) {
  .settings-icon {
    right: 15px;
    top: -135px;
  }
}

.settings .input-field {
  justify-content: center;
}

.settings .input-field .control:first-of-type {
  max-width: 400px;
  width: 80%;
}

.settings .subtitle {
  margin-bottom: 0.1rem;
  margin-top: 1.25rem;
}

.settings p {
  margin-bottom: 0.4rem;
}

.lodestone-levels .delete-container {
  width: 0;
}

.complete-check {
  display: inline-block;
  position: relative;
  left: 10px;
  bottom: 4px;
}

.notification.is-icon:hover,
.notification.is-icon.is-active {
  background-color: #209CEE;
}

body.dark .notification.is-icon:hover,
body.dark .notification.is-icon.is-active {
  background-color: #12355B;
}

.notification.is-icon {
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}
